.course-details {
  border-top: 2mm ridge rgb(170, 50, 220, .6);
  width: 450px;
  padding: 12px;
  color: rgb(0, 0, 0);
  margin-left: 60px;
  margin-top: 12px;
}

.btn-style {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.buy-heading {
  color: #000000;
  padding: 10px;
  margin-top: 5px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
