body {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  height: 100vh;
}

a {
  color: #ffffff !important;
  font-family: 'Muli', sans-serif;
}

a:hover {
  text-decoration: none !important;
}

.jumbo-head {
  margin-left: 60px;
}

.home-heading {
  font-family: 'Playfair Display SC', serif;
  width: max-content;
  height: max-content;
  margin-top: 5vh;
  margin-left: 60px;
}

.sub-heading {
  font-family: 'Homemade Apple', cursive;
  width: max-content;
  height: max-content;
  margin-top: 5vh;
  margin-left: 60px;
}

.account-details-home {
  width: max-content;
  height: max-content;
  padding: 25px;
  margin-top: 50px;
  margin-left: 60px;
  border-bottom: 4mm ridge rgb(170, 50, 220, .6);
}
