body {
  background: linear-gradient(110deg, #ffffff 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #c03fff 70%, #9b1bf0 70%);
  height: 100vh;
}

a {
  color: #ffffff !important;
  font-family: 'Muli', sans-serif;
}

a:hover {
  text-decoration: none !important;
}

.jumbo-head {
  margin-left: 60px;
}

.home-heading {
  font-family: 'Playfair Display SC', serif;
  width: max-content;
  height: max-content;
  margin-top: 5vh;
  margin-left: 60px;
}

.sub-heading {
  font-family: 'Homemade Apple', cursive;
  width: max-content;
  height: max-content;
  margin-top: 5vh;
  margin-left: 60px;
}

.account-details-home {
  width: max-content;
  height: max-content;
  padding: 25px;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 10px;
  border-left: 2mm ridge rgba(68, 67, 67, 0.6);
}

.head-02 {
  margin-left: 50vh;
}

.sub-01 {
  margin-left: 80vh;
}
