.input-style {
  width: 300px;
}

.capture-style {
  width: 300px;
  border: none;
}

.sell-heading {
  color: #000000;
  padding: 10px;
  font-family: 'Playfair Display SC', serif;
  text-transform: uppercase;
}

.sell-styling {
  width: 450px;
  height: max-content;
  margin-top: 30px;
  padding: 25px;
  margin-left: 60px;
  border-radius: 15px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.btn-styling {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.main-sell-style {
  background-color: white;
  height: 100vh;
}
